.menubar {
    height: 12px;
    padding: 1px;
    width: 100%;
}

.menubar > .menuitem {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-right: 1px inset black;
    float: left;
    cursor: default;
}

#map {
    height: calc(100% - 35px);
	width: calc(100% - 500px);
	margin-top: -4px;
	float: left;
}

#plt {
    height: calc(100% - 35px);
	width: calc(100% - 500px);
	margin-top: -4px;
	float: left;
	display: none;
}

input[type="submit"]
{
    border: none;
    background: white;
    /* float: right; */
    padding: 10px;
    margin-left: 150px;
    cursor: pointer;
}

input[type="submit"]:hover {
	background: #ddd;
}

#fil, #ana {
	width: 230px;
	height: calc(100% - 35px);
	margin-top: -4px;
	float:left;
	border-top: 1px solid gainsboro;
	font-size:12px;
	padding-left: 20px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#ana img {
	width: 95%;
	cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#primary_nav_wrap ul
{
	list-style:none;
    z-index: 2;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:250px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}