<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ 'css/style.css'|staticfile }}">
    <script src="{{ 'js/scripts.js'|staticfile }}"></script>
  </head>
  <body>
    <nav id="primary_nav_wrap">
    <ul>
      <li><a href="#">File</a>
        <ul>
          <li><a href="BackEnd.csv_process" data-bind="true">Import CSV</a></li>
          <li><a href="BackEnd.addMarker" data-bind="true">Preferences</a></li>
          <li><a href="BackEnd.exit" data-bind="true">Exit</a></li>
        </ul>
      </li>
    </ul>
    </nav>
    <br/>
    <br/>
    <input></input>
  </body>
</html>